In [1]:
import pandas as pd
from fbprophet import Prophet

In [2]:
_df = pd.read_csv("https://www.tepco.co.jp/forecast/html/images/juyo-2017.csv", encoding='shift-jis', skiprows=1)

In [3]:
_df.head()

       DATE  TIME  実績(万kW)
0  2017/1/1  0:00     2783
1  2017/1/1  1:00     2634
2  2017/1/1  2:00     2520
3  2017/1/1  3:00     2438
4  2017/1/1  4:00     2389

In [4]:
_df.shape

(8760, 3)

In [5]:
years = [2017, 2018, 2019]

#year = years[1]
df = pd.DataFrame()
for year in years:
    _df = pd.read_csv(f"https://www.tepco.co.jp/forecast/html/images/juyo-{year}.csv", encoding='shift-jis', skiprows=1)
    df = pd.concat([df, _df], axis=0)

In [6]:
df.head()

       DATE  TIME  実績(万kW)
0  2017/1/1  0:00     2783
1  2017/1/1  1:00     2634
2  2017/1/1  2:00     2520
3  2017/1/1  3:00     2438
4  2017/1/1  4:00     2389

In [7]:
df.tail()

            DATE   TIME  実績(万kW)
8755  2019/12/31  19:00     3302
8756  2019/12/31  20:00     3263
8757  2019/12/31  21:00     3182
8758  2019/12/31  22:00     3077
8759  2019/12/31  23:00     3029

In [8]:
df.shape

(26280, 3)

In [9]:
df = df.reset_index(drop=True)

In [10]:
df['DATE'][0]

'2017/1/1'

In [11]:
df['TIME'][0]

'0:00'

In [12]:
date = df['DATE'][0]
time = df['TIME'][0]
str_datetime = f'{date} {time}'
str_datetime

'2017/1/1 0:00'

In [13]:
from datetime import datetime as dt

In [14]:
datetime = dt.strptime(str_datetime, '%Y/%m/%d %H:%M')

In [15]:
datetime

datetime.datetime(2017, 1, 1, 0, 0)

In [16]:
datetimes = []

for index, datum in df.iterrows():

    date = datum['DATE']
    time = datum['TIME']
    str_datetime = f'{date} {time}'
    datetime = dt.strptime(str_datetime, '%Y/%m/%d %H:%M')
    datetimes.append(datetime)

In [17]:
datetimes[:3]

[datetime.datetime(2017, 1, 1, 0, 0),
 datetime.datetime(2017, 1, 1, 1, 0),
 datetime.datetime(2017, 1, 1, 2, 0)]

In [18]:
df['ds'] = datetimes

In [19]:
df.head()

       DATE  TIME  実績(万kW)                  ds
0  2017/1/1  0:00     2783 2017-01-01 00:00:00
1  2017/1/1  1:00     2634 2017-01-01 01:00:00
2  2017/1/1  2:00     2520 2017-01-01 02:00:00
3  2017/1/1  3:00     2438 2017-01-01 03:00:00
4  2017/1/1  4:00     2389 2017-01-01 04:00:00

In [20]:
df = df.rename(columns={'実績(万kW)': 'y'})
df

             DATE   TIME     y                  ds
0        2017/1/1   0:00  2783 2017-01-01 00:00:00
1        2017/1/1   1:00  2634 2017-01-01 01:00:00
2        2017/1/1   2:00  2520 2017-01-01 02:00:00
3        2017/1/1   3:00  2438 2017-01-01 03:00:00
4        2017/1/1   4:00  2389 2017-01-01 04:00:00
...           ...    ...   ...                 ...
26275  2019/12/31  19:00  3302 2019-12-31 19:00:00
26276  2019/12/31  20:00  3263 2019-12-31 20:00:00
26277  2019/12/31  21:00  3182 2019-12-31 21:00:00
26278  2019/12/31  22:00  3077 2019-12-31 22:00:00
26279  2019/12/31  23:00  3029 2019-12-31 23:00:00

[26280 rows x 4 columns]

In [21]:
model = Prophet()

In [1]:
model.fit(df)

NameError: name 'model' is not defined